# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.env
*.venv
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Kubernetes and Helm
*.tgz
charts/
.release/
*.lock
*.log

# Docker
*.dockerignore
docker-compose.override.yml
*.tar

# VS Code
.vscode/
.history/

# OS-specific
.DS_Store
Thumbs.db